.save {
    margin-right: 4px;
    color: #5cb85c;
}

.edit {
    margin-right: 5px;
    color: #d99f2e;
}

.del {
    margin-right: -2px;
    color: #dc3545;
}

.ic {
    float: left;
    margin-top: 3px;
    padding: 2px;
    cursor: pointer;
}

.ch-align {
    display: inline-block;
}

.iw-150 {
    width: 150px;
}

.ih-20 {
    height: 20px;
}

.box {
    position: relative;
    float: right;
}